{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="cover">
        {% block content %}
            <div class="content_bloc">
                <h1>Bienvenue sur la page d'administration !</h1>
                <p>Cette page vous permet d'ajouter et de modérer les vidéos présentes sur la plateforme.
                    <br>Vous pouvez également modérer les commentaires de utilisateurs.
                </p>
            </div>
        {% endblock content %}
    </section>
{% endblock %}
