{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="cover">
        {% block content %}
            <div class="_">
                <h1>Bienvenue sur la page d'administration</h1>
            </div>
        {% endblock content %}
    </section>
{% endblock %}
