{% extends "@TPM1Agile2User/layout.html.twig" %} {% block content %}
<div class="message_bloc">
	<h1>Félicitations {{ user.username }}!</h1>

	<p>Votre inscription au service à été validée !</p>

	{% if app.session is not empty %} {% set targetUrl =
	app.session.get('_security.' ~ app.security.token.providerKey ~
	'.target_path') %} {% if targetUrl is not empty %}
	<p>
		<a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
	</p>
	{% endif %} {% endif %}
	<div class="grey_btn">
		<a class="btn grey_btn" href="{{ path('tpm1_agile2_front_homepage') }}">Retourner
			à l'accueil</a>
	</div>
</div>
{% endblock content %}
