{% extends "::base.html.twig" %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block body %}
    <p>Bienvenue sur media viewer</p>
    <div class="container">
    	<div class="row">
    		<div class="col-md-4">
    			<ul>
    				<li><img src="http://40.media.tumblr.com/f4b9b3064cf56e3919d12ae65d02ac54/tumblr_nitu0hegrH1snv4lgo1_1280.jpg" class="img-responsive"></li>
    			</ul>
    		</div>
    		<div class="col-md-8"></div>
    	</div>
    </div>
{% endblock %}