{% extends "::base.html.twig" %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block body %}
    <p>Bienvenue sur media viewer</p>
    <div class="container">
    	<div class="row">
    		<div class="col-md-4"></div>
    		<div class="col-md-8"></div>
    	</div>
    </div>
{% endblock %}